.all_nav {
    margin-top: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.all_nav .navbar_left .face{
    margin-top: 10px;
    gap: 10px;
color: #1877F2;
font-size: 30px;
margin-right: 15px;
}
.all_nav .navbar_left .search {
    color: #A7B5BE;
    background-color: #E2E6E9;
    font-size: 25px;
    border-radius: 22px;
    padding: 6px;

}
.all_nav .navbar_middle .house {
    margin-top: 10px;
    color:#2F80ED;
    font-size: 25px;
    margin-right: 35px;
}
.all_nav .navbar_right .plus {
    margin-top: 10px;
    background-color:  #E2E6E9;
    font-size: 25px;
    border-radius: 22px;
    padding: 3px;
    margin-right: 15px;
    
}
.all_nav .navbar_right .messenger {
    background-color: #E2E6E9;
    font-size: 25px;
    border-radius: 16px;
    padding: 4px;
    margin-right: 15px;
}

.all_nav .navbar_right .alarm {
    background-color: #E2E6E9;
    font-size: 25px;
    border-radius: 53px;
    padding: 4px;
    margin-right: 15px;
}
.all_nav .navbar_right .arrow {
    background-color: #E2E6E9;
    font-size: 25px;
    border-radius: 59px;
    padding: 4px;
    margin-right: 15px;
}

.all_nav .navbar_middle .flag {
    font-size: 25px;
    margin-right: 35px;
}
.all_nav  .icon_up{
    background-color: red;
    color: white;
    border-radius: 15px;
    text-align: center;
    height: 22px;
    position: absolute;
    top: 18px;
    width: 30px;
    left: 655px;
}
.all_nav .youtubeicon_up{
    background-color: red;
    color: white;
    border-radius: 15px;
    text-align: center;
    height: 22px;
    position: absolute;
    top: 16px;
    width: 30px;
    left: 720px;
}
.all_nav .messengericon_up{
    background-color: red;
    color: white;
    border-radius: 15px;
    text-align: center;
    height: 22px;
    position: absolute;
    top: 17px;
    width:30px;
    left:1300px;
}
.all_nav .alarmicon_up{
    background-color: red;
    color: white;
    border-radius: 15px;
    text-align: center;
    height: 22px;
    position: absolute;
    top: 17px;
    width:30px;
    left: 1350px;
}
.all_nav .navbar_middle .youtube {
    font-size: 25px;
    margin-right: 35px;
}
.all_nav .navbar_middle .store {
    font-size: 25px;
    margin-right: 35px;
}
.all_nav .navbar_middle .bars {
    font-size: 25px;
}
